---
import type { CollectionEntry } from "astro:content";
import Gallery from "./Gallery.astro";
import GridDesktop from "./GridDesktop.astro";
import GridMobile from "./GridMobile.astro"

interface Props {
    project: CollectionEntry<"project">["data"];
    slug: string;
}

const { project, slug } = Astro.props;
---

<div
    class="name-sans-regular w-full grid grid-cols-subgrid col-span-12 pb-16 mb-16 lg:mb-48"
    id={slug}
>
    <h2
        class="name-sans-medium uppercase col-span-12 font-medium text-5xl md:text-7xl flex justify-between w-full border-b h-fit mb-8"
    >
        <span>{project.title}</span><span class="hidden md:inline"
            >‘{project.year.toString().split("").toSpliced(0, 2).join("")}</span
        >
    </h2>
    <h3
        class="col-start-1 col-span-3 lg:col-start-1 lg:col-end-3 lg:text-right uppercase text-sm text-secondary space-mono-regular pr-2"
    >
        [project outline]
    </h3>
    {
        project.outline
            .split("\n")
            .map((para) => (
                <p class="text-text col-start-4 col-end-12 lg:col-start-3 lg:col-end-7 text-md lg:pl-2 mb-4">{para}</p>
            ))
    }

    {
        project.slideshows.map((slideshow) => (
        <h3 class="col-span-12 lg:col-start-1 lg:col-end-auto lg:text-right uppercase text-sm text-secondary space-mono-regular pr-2">[{slideshow.title}]</h3>
            <div class="col-span-12 lg:col-start-2 lg:col-end-12 lg:pl-2 mb-8">
              <Gallery id={`${slug}-${slideshow.title.split(' ').join('-').toLowerCase().replace(":", "")}`} images={slideshow.images} ratio={slideshow.ratio ?? null}/>
            </div>
        ))
    }

    <GridDesktop project={project} />
    <GridMobile project={project} />
</div>
