---
import Gallery from "./Gallery.astro";
import GridMobile from "./GridMobile.astro";
import VerticalDivider from "../VerticalDivider.astro";
import type { CollectionEntry } from "astro:content";

type ArrayElement<ArrayType extends readonly unknown[]> =
    ArrayType extends readonly (infer ElementType)[] ? ElementType : never;

interface Props {
    project: CollectionEntry<"test">["data"];
    // Using any for now as we're working with the test collection
    slug: string;
}

const formatDate = (date: Date) => {
    if (!date || isNaN(date.getTime())) {
        return "";
    }
    return date.toLocaleDateString("en-GB", {
        day: "numeric",
        month: "short",
        year: "numeric",
    });
};

const { project, slug } = Astro.props;
---

<div class="w-full pb-16 mb-16 lg:mb-24" id={slug}>
    <VerticalDivider />
    <div class="w-full px-4 py-8">
        <p
            class="w-full text-xs flex justify-between font-departure-mono text-text-secondary mb-4"
        >
            <span class="lowercase">[{project.type}]</span>{" "}
            <span class="uppercase">
                {formatDate(project.year)}
            </span>
        </p>
        <h2
            class="text-3xl md:text-4xl text-text-primary flex justify-between w-full"
        >
            {project.title}
        </h2>
    </div>

    <VerticalDivider />
    <div class="w-full px-4 py-8">
        <h3
            class="text-sm text-text-secondary uppercase mb-2 font-departure-mono"
        >
            [project outline]
        </h3>
        <div>
            {
                project.outline
                    .split("\n")
                    .map((para) => (
                        <p class="text-text-primary mb-4 leading-relaxed">
                            {para}
                        </p>
                    ))
            }
        </div>
    </div>

    {
        project.slideshows.map((slideshow) => (
            <div class="w-full px-4 mt-8">
                <h3 class="text-sm text-text-secondary uppercase mb-2 font-departure-mono">
                    [{slideshow.title}]
                </h3>
                <div>
                    <Gallery
                        id={`${slug}-${slideshow.title.split(" ").join("-").toLowerCase().replace(":", "")}`}
                        images={slideshow.images}
                        ratio={slideshow.ratio ?? null}
                    />
                </div>
            </div>
        ))
    }

    <VerticalDivider />
    <div class="w-full px-4 py-8">
        <GridMobile project={project} />
    </div>
    <VerticalDivider />
</div>
