---
import MainLayout from "../../layouts/MainLayout.astro";
import AnimatedDot from "../../components/AnimatedDot";
import MouseOver from "../../components/MouseOver.astro";
import Minimap from "../../components/Minimap.tsx";
import ProjectInfo from "../../components/ProjectInfo.astro";
import ProjectGallery from "../../components/ProjectGallery.astro";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: { proj: project.id.replace(/\.json$/, "") },
        props: { project },
    }));
}

const { project } = Astro.props;

import { formatDate } from "../../utils/date";

const title = project.data.title + " - Will Baker";
const tag = "Will Baker © 2025";
const desc =
    "Hey there! I'm Will Baker, a designer and developer who loves bringing ideas to life. My 2025 portfolio showcases some of my work in branding, UI/UX, web development and motion graphics.";
const img = {
    url: "/og-image.png",
    alt: "Will Baker 2025 Portfolio Banner",
};
---

<MainLayout
    title={title}
    tag={tag}
    desc={desc}
    img={img}
    namespace={project.data.title}
>
    <div class="flex">
        <div
            class="md:flex items-center justify-center flex-col sticky h-screen top-0 hidden"
        >
            <a
                class="text-xs w-full flex justify-center font-mono text-secondary mb-4 text-center absolute top-8"
                href="/?skip"
                ><div class="flex justify-center items-center">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 16 16"
                        fill="currentColor"
                        class="size-3 mr-1"
                    >
                        <path
                            fill-rule="evenodd"
                            fill="currentColor"
                            d="M14 8a.75.75 0 0 1-.75.75H4.56l3.22 3.22a.75.75 0 1 1-1.06 1.06l-4.5-4.5a.75.75 0 0 1 0-1.06l4.5-4.5a.75.75 0 0 1 1.06 1.06L4.56 7.25h8.69A.75.75 0 0 1 14 8Z"
                            clip-rule="evenodd"></path>
                    </svg>

                    Projects
                </div></a
            >
            <div class="px-8">
                <Minimap client:load />
            </div>
        </div>

        <article class="lg:w-9/12 p-8 mx-auto w-full">
            <p
                class="text-xs w-full flex justify-between font-mono text-secondary mb-4"
            >
                <a
                    class="md:hidden text-xs flex justify-center font-mono text-secondary"
                    href="/?skip"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 16 16"
                        fill="currentColor"
                        class="size-3 mr-1"
                    >
                        <path
                            fill-rule="evenodd"
                            fill="currentColor"
                            d="M14 8a.75.75 0 0 1-.75.75H4.56l3.22 3.22a.75.75 0 1 1-1.06 1.06l-4.5-4.5a.75.75 0 0 1 0-1.06l4.5-4.5a.75.75 0 0 1 1.06 1.06L4.56 7.25h8.69A.75.75 0 0 1 14 8Z"
                            clip-rule="evenodd"></path>
                    </svg>

                    Projects
                </a>
                <span>{project.data.type}</span>{" "}
                <span>
                    {
                        project.data.date.toLocaleDateString("en-GB", {
                            month: "short",
                            year: "numeric",
                        })
                    }
                </span>
            </p>
            <h2 class="text-5xl text-primary flex justify-between w-full mb-8">
                {project.data.title}
            </h2>

            <h3
                class="text-3xl text-primary capitalize flex items-center gap-0.5 py-4"
            >
                <AnimatedDot
                    client:load
                    animateLayout={true}
                    activationPercentage={0.6}
                />
                Project Outline
            </h3>
            <div class="text-xl">
                {
                    project.data.outline
                        .split("\n")
                        .map((para) => (
                            <p class="text-primary/75 not-last:mb-4 leading-relaxed animate-text-in">
                                {para}
                            </p>
                        ))
                }
            </div>
            {
                project.data.slideshows.map((slideshow) => (
                    <>
                        <h3 class="text-3xl text-text-primary capitalize flex items-center gap-0.5 mt-8 py-4">
                            <AnimatedDot
                                client:load
                                animateLayout={true}
                                activationPercentage={0.6}
                            />
                            {slideshow.title}
                        </h3>
                        <ProjectGallery
                            id={`${project.id}-${slideshow.title.split(" ").join("-").toLowerCase().replace(":", "")}`}
                            images={slideshow.images}
                            ratio={slideshow.ratio ?? null}
                        />
                    </>
                ))
            }
            <h3
                class="text-3xl text-text-primary flex items-center gap-0.5 mt-8 py-4"
            >
                <AnimatedDot
                    client:load
                    animateLayout={true}
                    activationPercentage={0.6}
                />More Info
            </h3>
            <ProjectInfo project={project.data} />
            <div class="h-[25vh]"></div>
        </article>
    </div>
</MainLayout>
