---
import "../styles/global.css";
import { WebGLImageProvider } from "../components/WebGLImage/WebGLImageContext";
import WebGLImage from "../components/WebGLImage/WebGLImage.astro";
import AnimatedDot from "../components/AnimatedDot.tsx";
import Minimap from "../components/Minimap.tsx";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Hero from "../components/Hero.astro";
import MainLayout from "../layouts/MainLayout.astro";
import MouseOver from "../components/MouseOver.astro";

const projects = await getCollection("projects");
const writings = await getCollection("writings");

const title = "Design Portfolio - Will Baker";
const tag = "Will Baker © 2025";
const desc =
    "Hey there! I'm Will Baker, a designer and developer who loves bringing ideas to life. My 2025 portfolio showcases some of my work in branding, UI/UX, web development and motion graphics.";
const img = {
    url: "/og-image.png",
    alt: "Will Baker 2025 Portfolio Banner",
};
---

<MainLayout title={title} tag={tag} desc={desc} img={img}>
    <h3
        class="text-[0px] text-background opacity-0 select-none"
        aria-hidden="true"
    >
        About Me
    </h3>
    <MouseOver />
    <Hero client:load />
    <div class="flex">
        <div
            class="md:flex items-center justify-center flex-col sticky h-screen top-0 px-8 hidden"
        >
            <Minimap client:load />
        </div>
        <main>
            <div class="w-full p-8" id="about-me">
                <hr class="border-t-[1.5px] border-t-border/25 mb-2" />
                <h4 class="text-secondary font-mono">Who Am I?</h4>
                <div class="w-full flex justify-end">
                    <div class="lg:w-3/4">
                        <p
                            class="text-secondary text-6xl/snug mt-4 animate-text-in"
                        >
                            Hey, I'm <span class="text-tertiary">Will!</span>
                        </p>
                        <p
                            class="text-secondary text-3xl/snug mt-4 animate-text-in"
                        >
                            I'm a designer and developer based near London. I
                            have a passion for creating engaging digital
                            experiences that blend creativity and functionality.
                            With a background in both design and development, I
                            bring a unique perspective to my work, allowing me
                            to craft solutions that are not only visually
                            appealing but also technically sound.
                        </p>
                        <p
                            class="text-secondary text-3xl/snug mt-4 animate-text-in"
                        >
                            Over the years, I've had the opportunity to work on
                            a wide range of projects, from branding and UI/UX
                            design to web development and motion graphics. I
                            thrive in collaborative environments where I can
                            contribute my skills and learn from others. I'm
                            always eager to take on new challenges and push the
                            boundaries of what's possible with design and
                            technology.
                        </p>
                    </div>
                </div>
            </div>
            <div class="w-full min-h-screen p-8" id="projects">
                <h3
                    class="text-[0px] text-background opacity-0 select-none"
                    aria-hidden="true"
                >
                    Projects
                </h3>
                <div
                    class="w-full *:mb-24 *:pt-4 *:border-t-[1.5px] *:border-t-border/25"
                >
                    {
                        projects.map((project, i) => {
                            return (
                                <div
                                    class="flex w-full flex-col-reverse lg:flex-row"
                                    data-project={project.data.title}
                                >
                                    <div class="mr-8 w-full lg:max-w-2/6">
                                        <p class="text-xs w-full flex justify-between font-mono text-secondary mb-4">
                                            <span>{project.data.type}</span>{" "}
                                            <span>
                                                {project.data.year.toLocaleDateString(
                                                    "en-GB",
                                                    {
                                                        month: "short",
                                                        year: "numeric",
                                                    },
                                                )}
                                            </span>
                                        </p>
                                        <div class="flex flex-col justify-between h-full pb-8">
                                            <h2 class="text-4xl font-sans text-primary font-medium read-more animate-title-in">
                                                <a
                                                    href={`project/${project.id}`}
                                                    class="flex items-center gap-0.5"
                                                >
                                                    <AnimatedDot
                                                        client:load
                                                        size="size-4"
                                                        animateLayout={true}
                                                        activationPercentage={
                                                            0.55
                                                        }
                                                    />{" "}
                                                    {project.data.title}
                                                </a>
                                            </h2>
                                            <p class="text-lg/relaxed text-secondary read-more animate-text-in">
                                                <a
                                                    href={`project/${project.id}`}
                                                >
                                                    {project.data.outline
                                                        .split("\n")[0]
                                                        .slice(0, 250)
                                                        .trimEnd() + "..."}
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                    <WebGLImage
                                        src={project.data.thumbnail!.src}
                                        class="aspect-video object-cover w-full lg:max-w-4/6 read-more mb-2 lg:mb-0"
                                        alt={project.data.title}
                                        href={`project/${project.id}`}
                                    />
                                </div>
                            );
                        })
                    }
                </div>
                <!-- <ImageTest client:load client:only /> -->
            </div>
            <!-- <div
                    class="w-full min-h-screen p-8 *:mb-8 *:pt-4 *:border-t-[1.5px] *:border-t-border"
                    id="writing"
                >
                    <h3
                        class="text-[0px] text-background opacity-0 select-none"
                        aria-hidden="true"
                    >
                        Writing
                    </h3>
                    {
                        writings.map((writing) => {
                            return (
                                <div
                                    class="flex w-full flex-col"
                                    data-project={writing.data.title}
                                >
                                    <p class="text-xs w-full flex capitalize justify-between font-mono text-secondary mb-4">
                                        <span>{writing.data.type}</span>{" "}
                                        <span>
                                            {writing.data.date.toLocaleDateString(
                                                "en-GB",
                                                {
                                                    month: "short",
                                                    year: "numeric",
                                                },
                                            )}
                                        </span>
                                    </p>
                                    <div class="flex flex-col justify-between h-full pb-8">
                                        <h2 class="text-4xl font-sans text-primary font-medium read-more">
                                            <a
                                                href={`writing/${writing.id}`}
                                                class="flex items-center gap-0.5"
                                            >
                                                <AnimatedDot
                                                    client:load
                                                    size="size-4"
                                                    animateLayout={true}
                                                    activationPercentage={0.55}
                                                />{" "}
                                                {writing.data.title}
                                            </a>
                                        </h2>
                                        <p class="text-lg/relaxed text-secondary read-more">
                                            <a href={`writing/${writing.id}`}>
                                                {writing.data.description}
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            );
                        })
                    }
                </div> -->
            <div class="w-full min-h-screen px-8 mb-32">
                <hr class="border-t-[1.5px] border-t-border/25 mb-2" />
                <div class="grid grid-cols-3 gap-x-8" id="experience">
                    <h3
                        class="text-[0px] text-background opacity-0 select-none"
                        aria-hidden="true"
                    >
                        Experience
                    </h3>
                    <div class="col-start-1">
                        <h4 class="text-secondary font-mono">Experience</h4>
                        <div class="mt-8 *:not-last:mb-8 text-secondary">
                            <div>
                                <p class="font-mono text-secondary text-xs">
                                    Nov 2025 - Now
                                </p>
                                <h5 class="text-primary text-2xl">
                                    Graphic Designer
                                </h5>
                                <p
                                    class="font-mono text-secondary text-xs mb-2"
                                >
                                    Loughborough Students Union
                                </p>
                                <p class="mb-2">
                                    Created social media stories and posts and
                                    other touchpoints for 25k followers. Created
                                    engaging digital and print designs for
                                    campaigns, events, and student initiatives
                                    with a quick turn around. Assisted in
                                    planning and delivering marketing campaigns
                                    across social, digital, and print.
                                </p>
                            </div>
                            <div>
                                <p class="font-mono text-secondary text-xs">
                                    Sept 2024 - Now
                                </p>
                                <h5 class="text-primary text-2xl">
                                    Technical Team Leader
                                </h5>
                                <p
                                    class="font-mono text-secondary text-xs mb-2"
                                >
                                    Loughborough Students Union
                                </p>
                                <p class="mb-2">
                                    Managed and trained a team of 20 members.
                                    Budgeted, planned and implemented £20k in
                                    infrastructure projects. Liaised with other
                                    clients to advise technical details for
                                    events, working with external hire
                                    companies. Created dynamic, immersive and
                                    creative lighting setups and visuals for a
                                    variety of artists including Sigala and
                                    Rudimental.
                                </p>
                            </div>
                            <div>
                                <p class="font-mono text-secondary text-xs">
                                    Aug 2025
                                </p>
                                <h5 class="text-primary text-2xl">
                                    Graphics & Technical Manager
                                </h5>
                                <p
                                    class="font-mono text-secondary text-xs mb-2"
                                >
                                    IFCPF Men’s Euros & Women’s Intercontinental
                                    Cup
                                </p>
                                <p>
                                    Created and operated real time scoring,
                                    replay and other immersive graphics. Helped
                                    set up audio and video infrastructure viewed
                                    by ~28k people.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-start-2">
                        <h4 class="text-secondary font-mono">Education</h4>
                        <div class="mt-8 *:not-last:mb-8 text-secondary">
                            <div>
                                <p class="font-mono text-secondary text-xs">
                                    Sept 2024 - Now
                                </p>
                                <h5 class="text-primary text-2xl">
                                    Loughborough University
                                </h5>
                                <p
                                    class="font-mono text-secondary text-xs mb-2"
                                >
                                    Loughborough
                                </p>
                                <p class="mb-2">
                                    Studying BA Graphic Design (Hons). Expected
                                    1st.
                                </p>
                            </div>
                            <div>
                                <p class="font-mono text-secondary text-xs">
                                    Sept 2022 - Jul 2024
                                </p>
                                <h5 class="text-primary text-2xl">
                                    Royal Grammar School
                                </h5>
                                <p
                                    class="font-mono text-secondary text-xs mb-2"
                                >
                                    High Wycombe
                                </p>
                                <p class="mb-2">
                                    Graphic Design (A*), Computer Science (A)
                                    and Psychology (C)
                                </p>
                            </div>
                            <div>
                                <p class="font-mono text-secondary text-xs">
                                    Sept 2019 - Jul 2022
                                </p>
                                <h5 class="text-primary text-2xl">
                                    Royal Grammar School
                                </h5>
                                <p
                                    class="font-mono text-secondary text-xs mb-2"
                                >
                                    High Wycombe
                                </p>
                                <p class="mb-2">
                                    Graphics (9), Computing (8), English
                                    Language (8), Biology (7), Chemistry (7),
                                    History (7), Maths (6).
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-start-3">
                        <h4 class="text-secondary font-mono">Co-curricular</h4>
                        <div class="mt-8 *:not-last:mb-8 text-secondary">
                            <div>
                                <p class="font-mono text-secondary text-xs">
                                    2025
                                </p>
                                <h5 class="text-primary text-2xl">
                                    Technical Officer
                                </h5>
                                <p
                                    class="font-mono text-secondary text-xs mb-2"
                                >
                                    LSU Media
                                </p>
                                <p class="mb-2">
                                    Involved in the running of a 100+ member
                                    society Organised learning opportunities for
                                    members. Helped setup events viewed by
                                    thousands.
                                </p>
                            </div>
                            <div>
                                <p class="font-mono text-secondary text-xs">
                                    Sept 2024
                                </p>
                                <h5 class="text-primary text-2xl">
                                    Magazine Designer
                                </h5>
                                <p
                                    class="font-mono text-secondary text-xs mb-2"
                                >
                                    LSU Media
                                </p>
                                <p class="mb-2">
                                    Created eye-catching spreads across a number
                                    of subjects. Over 1000 copies printed and
                                    viewed by Freshers.
                                </p>
                            </div>
                            <div>
                                <p class="font-mono text-secondary text-xs">
                                    2024
                                </p>
                                <h5 class="text-primary text-2xl">
                                    Graphics Subject Ambassador
                                </h5>
                                <p
                                    class="font-mono text-secondary text-xs mb-2"
                                >
                                    Royal Grammar School
                                </p>
                                <p class="mb-2">
                                    Ran weekly clubs teaching Illustrator and
                                    Photoshop. Provided support/mentoring for
                                    GCSE students.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</MainLayout>
