---
import ImageTest from "../components/ImageTest";
import "../styles/global.css";
import { WebGLImageProvider } from "../components/WebGLImage/WebGLImageContext";
import WebGLImage from "../components/WebGLImage.astro";
import AnimatedDot from "../components/AnimatedDot.tsx";

import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<style>
    body {
        background-color: #e3e3e3;
    }
</style>
<WebGLImageProvider client:load>
    <div class="h-screen"></div>
    <div class="w-full min-h-screen p-8">
        <div
            class="w-full *:mb-8 *:pt-4 *:border-t-[1.5px] *:border-t-[#838382]"
        >
            {
                projects.map((project, i) => {
                    return (
                        <div class="flex w-full">
                            <div class="mr-8 w-full">
                                <p class="text-xs w-full flex justify-between font-mono text-[#636362] mb-4">
                                    <span>{project.data.type}</span>{" "}
                                    <span>
                                        {project.data.year.toLocaleDateString(
                                            "en-GB",
                                            {
                                                month: "short",
                                                year: "numeric",
                                            },
                                        )}
                                    </span>
                                </p>
                                <h2 class="text-3xl font-sans text-neutral-800 font-medium flex items-center gap-0.5">
                                    <AnimatedDot
                                        client:load
                                        animateLayout={true}
                                        activationPercentage={0.75}
                                    />{" "}
                                    {project.data.title}
                                </h2>
                            </div>
                            <WebGLImage
                                src={project.data.thumbnail.src}
                                class="aspect-4/3 object-cover w-full max-w-1/2"
                                alt={project.data.title}
                            />
                        </div>
                    );
                })
            }
        </div>
        <div class="h-screen"></div>
        <!-- <ImageTest client:load client:only /> -->
    </div>
</WebGLImageProvider>
