---
import WebGLImage from "./WebGLImage/WebGLImage.astro";
import WebGLVideo from "./WebGLImage/WebGLVideo.astro";
import ProjectGalleryControls from "./ProjectGalleryControls.tsx";

interface Props {
    id: string;
    ratio: string | null;
    images: Array<{
        type: "img" | "vid";
        fit?: boolean;
        src: string;
        alt: string;
    }>;
}

const { id, ratio, images } = Astro.props;
---

<div class="w-full relative">
    <div
        style={ratio ? `aspect-ratio: ${ratio}` : null}
        id={id}
        class="w-full relative"
    >
        <div
            id={`${id}-carousel`}
            style={ratio ? `aspect-ratio: ${ratio}` : null}
            class="w-full carousel flex relative overflow-hidden"
        >
            {
                images.map((img) => {
                    return (
                        <div class="carousel-item relative space-mono-regular flex items-center justify-center bg-background snap-center">
                            {img.type === "img" ? (
                                <WebGLImage
                                    class={`${img.fit ? "object-contain h-full" : "object-cover w-full h-full"}`}
                                    src={img.src}
                                    alt={img.alt}
                                />
                            ) : (
                                <WebGLVideo
                                    class={`${img.fit ? "object-contain h-full" : "object-cover w-full h-full"}`}
                                    src={img.src}
                                />
                            )}
                        </div>
                    );
                })
            }
        </div>
    </div>
    <ProjectGalleryControls client:load galleryId={id} images={images} />
</div>
